{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Story 3: {{ name }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static './css/all.css' %}" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="#about">HOME</a></li>
        <li><a href="#resume">RESUME</a></li>
        <li><a href="#contacts">CONTACTS</a></li>
        <!-- <li><a href="/gallery">GALLERY</a></li> -->
      </ul>
    </nav>

    <div class="landing">
      <div class="opening">
        <h1>Hello, I'm <span class="name">{{ name }}</span></h1>
        <p>Computer science student at University of Indonesia</p>
        <a href="#about" class="btn btn-light">More About Me</a>
        <a href="/gallery" class="btn btn-light">Gallery</a>
      </div>
    </div>

    <section class="about" id="about">
      <img src="{% static './JP34-min.jpg' %}" alt="Fathan Muthahhari" />
      <div class="me">
        <h1>About Me!</h1>
        <div class="line"></div>
        <p>
          I am an active learner that always keen to learn more about how things
          work. Love anything associated with asthethic and creativity.
        </p>
      </div>
    </section>

    <div class="showcase">
      <h1>My Works So Far</h1>
      <div class="card">
        <img src="{% static './jamming.png' %}" alt="" />
        <div class="details">
          <p class="accent">Jamming</p>
          <p>App for creating and adding playlist to your Spotify account</p>
        </div>
      </div>
    </div>

    <section class="resume" id="resume">
      <div class="group">
        <h1>Education</h1>
        <table>
          <tr>
            <td class="accent">2019 - Present</td>
            <td>Faculty of Computer Science at University of Indonesia</td>
          </tr>
          <tr>
            <td class="accent">2016 - 2019</td>
            <td>SMAN 1 Bogor</td>
          </tr>
        </table>
      </div>
      <div class="group">
        <h1>Organization Experiences</h1>
        <table>
          <tr>
            <td class="accent">2020 - 2021</td>
            <td>Person in Charge of Academic BETIS 2021</td>
          </tr>
          <tr>
            <td class="accent">2020</td>
            <td>Staff of Software Engineering Academy Compfest 12</td>
          </tr>
        </table>
      </div>
    </section>

    <div class="skills">
      <h1>Skills</h1>
      <ul>
        <li>
          <span class="accent">Programming Languange</span> <br />
          Java, Python, Javascript
        </li>
        <li>
          <span class="accent">Web Development</span> <br />
          Django, ExpressJS, MongoDB, ReactJS, NodeJS, SQLite
        </li>
        <li><span class="accent">Visual Design</span></li>
      </ul>
    </div>

    <section class="contacts" id="contacts">
      <h1>Keep in Touch with Me</h1>
      <ul>
        <li>
          <a href="https://www.instagram.com/fathanmuthahhari/"
            ><i class="fab fa-instagram fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/muhammad-fathan-m-a45684130/">
            <i class="fab fa-linkedin-in fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Zsaschz/"
            ><i class="fab fa-github fa-3x"></i>
          </a>
        </li>
      </ul>

      <p>Email Me at: <span class="accent">fathanmuthahhari@gmail.com</span></p>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
