{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Story 3: Muhammad Fathan Muthahhari</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static './css/all.css' %}" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/#about">HOME</a></li>
        <li><a href="/#resume">RESUME</a></li>
        <li><a href="/#contacts">CONTACTS</a></li>
      </ul>
    </nav>

    <div class="gallery">
      <h1>Highlights</h1>
      <p class="accent">Good Girl</p>
      <div class="container">
        <img src="{% static './momo.jpg' %}" alt="" />
        <img src="{% static './simba.jpg' %}" alt="" />
        <img src="{% static './mole.jpg' %}" alt="" />
      </div>
      <br />
      <p class="accent">Design Portofolio</p>
      <div class="container">
        <img src="{% static './h.jpg' %}" alt="" />
        <img src="{% static './vote-13.jpg' %}" alt="" />
        <img src="{% static './djarum.jpg' %}" alt="" />
        <img src="{% static './Cover-02.jpg' %}" alt="" />
        <img src="{% static './Memes-01.jpg' %}" alt="" />
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
