{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static './style.css' %}">
    <title>Story 7: Muhammad Fathan Muthahhari</title>
</head>
  <nav>
    <span>Fathan M</span>
  </nav>
  <div class="container">
    <div class="list_accordion">
      <div class="card">
        <div class="judul">
          <button class="up">^</button>
          <button class="down">v</button>
          <h3>Picture of Me</h3>
        </div>
        <div class="img content">
          <img src="{% static './JP34-min.jpg' %}" alt="">
        </div>
      </div>
      <div class="card">
        <div class="judul">
          <button class="up">^</button>
          <button class="down">v</button>
          <h3>Personal Info</h3>
        </div>
        <div class="content">
          <p>Muhammad Fathan Muthahhari</p>
          <p>Born in Jakarta, January 14th 2001</p>
          <p>Computer Science Student at University of Indonesia</p>
        </div>
      </div>
      <div class="card">
        <div class="judul">
          <button class="up">^</button>
          <button class="down">v</button>
          <h3>Expreiences</h3>
        </div>
        <div class="content">
          <ul>
            <li>Person in Charge of Academic BETIS Fasilkom UI 2021</li>
            <li>Teaching Assistan of Introduction to Digital System</li>
            <li>Staff of Software Engineering Academy COmpfest 12</li>
            <li>Staff of Design Perak 2020</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="judul">
          <button class="up">^</button>
          <button class="down">v</button>
          <h3>Achivements</h3>
        </div>
        <div class="content">
          <p>	( : ౦ ‸ ౦ : )</p>
        </div>
      </div>
    </div>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'index.js'%}"></script>
</body>
</html>