{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Story 1: {{ name }}</title>
    <link rel="stylesheet" href="{% static './css/all.css' %}" />
  </head>
  <body>
    <a href="{% url 'story_4:index'%}">Go to Story 4</a>
    <div>
      <h1>Hello my name is {{ name }}</h1>
      <h3>NPM: {{ npm }}</h3>
      <h3>Maung 19</h3>
    </div>
    <div>
      <img
        src="{% static './JP34-min.jpg' %}"
        alt="Fathan Muthahhari"
        style="max-width: 300px"
      />
      <h1>About Me!</h1>
      <p>
        I am an active learner that always keen to learn more about how things
        work. Love anything associated with asthethic and creativity.
      </p>
    </div>
    <div>
      <h1>Interest</h1>
      <ul>
        <li>Graphic Design</li>
        <li>Indie Games</li>
        <li>Software Development</li>
        <li>F1</li>
      </ul>
    </div>
    <div>
      <h1>Education:</h1>
      <ol>
        <li>2008 - 2013: Sekolah Alam Bogor</li>
        <li>2013 - 2016: SMPN 4 Bogor</li>
        <li>2016 - 2019: SMAN 1 Bogor</li>
        <li>
          2019 - 2023 (expected): Faculty of Computer Science, University of
          Indonesia
        </li>
      </ol>
    </div>
    <div>
      <h1>Keep in Touch with Me</h1>
      <ul>
        <li><i class="fas fa-envelope"></i>: fathanmuthahhari@gmail.com</li>
        <li>
          <a href="https://www.instagram.com/fathanmuthahhari/"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/muhammad-fathan-m-a45684130/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
    </div>
  </body>
</html>
