body {
  background-color: blanchedalmond;
}

nav {
  width: 100vw;
  height: 3em;
  display: flex;
  align-items: center;
  background-color: aquamarine;
}

nav span {
  margin-left: 3em;
  font-weight: 700;
}

h3 {
  width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_accordion {
  width: 50%;
  min-width: 20em;
  /* margin: auto; */
}

.judul {
  display: flex;
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 5px;
}

.list_accordion .content {
  padding: 1.2em 2em;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.up,
.down {
  border: none;
  background-color: aquamarine;
}

img {
  width: 70%;
}
