html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --accent: #39e19b;
  --dark: #303030;
  --gray: #626262;
  --light: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  --root-padding: 3em 5em;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.accent {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--accent);
}

nav {
  /* height: 15vh; */
  padding: 1em;
  background-color: var(--dark);
  position: fixed;
  width: 100%;
  z-index: 99;
  display: block;
}

nav a {
  color: var(--accent);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

nav a:hover {
  color: var(--light);
}

.menu {
  display: flex;
  list-style: none;
  padding: 0 5em;
  justify-content: space-between;
  text-align: center;
}

.landing {
  height: 100vh;
  background-color: var(--gray);
  color: var(--light);
  display: flex;
  align-items: center;
}

.opening {
  width: 60%;
  height: 30%;
  margin: auto;
  text-align: center;
  min-width: 16em;
}

.btn {
  margin-top: 2em;
  border-radius: 10px;
}

.name {
  color: var(--accent);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.opening h1 {
  margin: 0.75em 0;
}

.resume {
  background-color: var(--gray);
  color: var(--light);
}

.contacts {
  background-color: var(--dark);
  color: var(--light);
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: var(--root-padding);
  justify-content: space-around;
  align-items: center;
}

.me {
  width: 20em;
  margin: 1em 0;
}

.me h1 {
  text-align: left;
}

.line {
  width: 100%;
  height: 5px;
  margin: 0.5em 0;
  background-color: var(--accent);
}

.about img {
  width: 20%;
  min-width: 7em;
  display: inline-flex;
  border-radius: 10px;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  padding: var(--root-padding);
  justify-content: space-around;
  align-content: space-around;
}

.showcase h1 {
  display: block;
  width: 100%;
}

.card {
  width: 40%;
  height: auto;
  border: solid 0.25rem var(--accent);
  margin: 1em 0;
  min-width: 16em;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.details {
  padding: 1em 0;
  text-align: center;
  height: 8em;
  margin: auto 1em;
}

.resume {
  padding: var(--root-padding);
}

.group {
  margin: 3em auto;
  width: 100%;
  min-width: 15em;
}

.resume table {
  width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 1em;
  min-width: 15em;
}

.group td {
  width: 70%;
}

.group .accent {
  text-align: right;
  width: 30%;
  padding-right: 0.75em;
}

.skills {
  padding: var(--root-padding);
}

.skills ul {
  width: 50%;
  margin: 0 auto;
  min-width: 15em;
  list-style-image: url("../Ellipse3.png");
}

.skills li {
  margin: 1em 0 1em 20%;
  padding-left: 0.75em;
}

.contacts {
  padding: var(--root-padding);
  text-align: center;
}

.contacts ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts li {
  margin: 1em 0;
}

.contacts a {
  color: var(--light);
  margin: 1em;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: var(--root-padding);
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery img {
  width: 30%;
  min-width: 7em;
  border-radius: 10px;
  margin: 0.5em;
}

@media only screen and (max-device-width: 375px) {
  * {
    --root-padding: 3em 10%;
    font-size: 1.6rem;
  }

  .menu {
    padding: 0 10%;
    flex-wrap: wrap;
  }

  .landing {
    height: 50vh;
  }

  .about {
    height: 50%;
  }

  .me,
  .me h1 {
    text-align: center;
  }

  .about img {
    width: 50%;
  }

  .showcase {
    height: 50%;
  }

  .card {
    width: 80%;
  }

  .group {
    width: 100%;
  }

  .gallery {
    padding-top: 25%;
  }
  .gallery img {
    width: 60%;
  }
}
