{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Story: Muhammad Fathan Muthahhari</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static './css/all.css' %}" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="{% url 'story_4:index' %}">HOME</a></li>
        <li><a href="/#resume">RESUME</a></li>
        <li><a href="/#contacts">CONTACTS</a></li>
        <li><a href="{% url 'story_1:index' %}">STORY 1</a></li>
      </ul>
    </nav>

    {% block isi %}{% endblock %}

    <section class="contacts" id="contacts">
      <h1>Keep in Touch with Me</h1>
      <ul>
        <li>
          <a href="https://www.instagram.com/fathanmuthahhari/"
            ><i class="fab fa-instagram fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/muhammad-fathan-m-a45684130/">
            <i class="fab fa-linkedin-in fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Zsaschz/"
            ><i class="fab fa-github fa-3x"></i>
          </a>
        </li>
      </ul>

      <p>Email Me at: <span class="accent">fathanmuthahhari@gmail.com</span></p>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
