{% extends 'base.html' %} {% load static %} {% block isi %}
<div class="landing">
  <div class="opening">
    <h1>Hello, I'm <span class="name">{{ name }}</span></h1>
    <p>Computer science student at University of Indonesia</p>
    <a href="#about" class="btn btn-light">More About Me</a>
    <a href="/gallery" class="btn btn-light">Gallery</a>
  </div>
</div>

<section class="about" id="about">
  <img src="{% static './JP34-min.jpg' %}" alt="Fathan Muthahhari" />
  <div class="me">
    <h1>About Me!</h1>
    <div class="line"></div>
    <p>
      I am an active learner that always keen to learn more about how things
      work. Love anything associated with asthethic and creativity.
    </p>
  </div>
</section>

<div class="showcase">
  <h1>My Works So Far</h1>
  <div class="card">
    <img src="{% static './jamming.png' %}" alt="" />
    <div class="details">
      <p class="accent">Jamming</p>
      <p>App for creating and adding playlist to your Spotify account</p>
    </div>
  </div>
</div>

<section class="resume" id="resume">
  <div class="group">
    <h1>Education</h1>
    <table>
      <tr>
        <td class="accent">2019 - Present</td>
        <td>Faculty of Computer Science at University of Indonesia</td>
      </tr>
      <tr>
        <td class="accent">2016 - 2019</td>
        <td>SMAN 1 Bogor</td>
      </tr>
    </table>
  </div>
  <div class="group">
    <h1>Organization Experiences</h1>
    <table>
      <tr>
        <td class="accent">2020 - 2021</td>
        <td>Person in Charge of Academic BETIS 2021</td>
      </tr>
      <tr>
        <td class="accent">2020</td>
        <td>Staff of Software Engineering Academy Compfest 12</td>
      </tr>
    </table>
  </div>
</section>

<div class="skills">
  <h1>Skills</h1>
  <ul>
    <li>
      <span class="accent">Programming Languange</span> <br />
      Java, Python, Javascript
    </li>
    <li>
      <span class="accent">Web Development</span> <br />
      Django, ExpressJS, MongoDB, ReactJS, NodeJS, SQLite
    </li>
    <li><span class="accent">Visual Design</span></li>
  </ul>
</div>
{% endblock isi %}
