{% extends 'base.html' %} {% load static %}{% block isi %}

<div class="gallery">
  <h1>Highlights</h1>
  <p class="accent">Good Girl</p>
  <div class="container">
    <img src="{% static './momo.jpg' %}" alt="" />
    <img src="{% static './simba.jpg' %}" alt="" />
    <img src="{% static './mole.jpg' %}" alt="" />
  </div>
  <br />
  <p class="accent">Design Portofolio</p>
  <div class="container">
    <img src="{% static './h.jpg' %}" alt="" />
    <img src="{% static './vote-13.jpg' %}" alt="" />
    <img src="{% static './djarum.jpg' %}" alt="" />
    <img src="{% static './Cover-02.jpg' %}" alt="" />
    <img src="{% static './Memes-01.jpg' %}" alt="" />
  </div>
</div>
{% endblock isi %}
